# Temp files
.DS_Store
*~

# Compiled files
__pycache__/

# Distribution / packaging
/build/
/dist/
/*.egg-info/

# Tests and coverage
/.pytest_cache/
/.cache/
/data/

# docs
generated/
_build/
_static/datasets.json

# IDEs
/.idea/
/.vscode/

# data
*/data/
temp/
*.zarr

# symlinks
notebooks/paper_reproducibility/data
notebooks/paper_reproducibility/spatialdata-sandbox
notebooks/examples/stereoseq_data

data/
*.zarr
*.zip
zarr.json

# notebooks
*.ipynb_checkpoints

# torch checkpoints
notebooks/examples/lightning_logs/
notebooks/examples/logs/

# others
node_modules/
notebooks/examples/_latest_run_notebook.ipynb
notebooks/developers_resources/storage_format/_latest_run_notebook.ipynb
